footer {
  width: 100vw;
  color: var(--white-3);
  background-color: var(--primary);
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  font-size: var(--text-note);
}

footer a {
  font-size: var(--text-note);
  font-family: var(--font-1);
  color: var(--white-3);
}
